@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto+Flex:wght@100;300;400;500;700&display=swap'); */
*{
   font-family: 'Roboto', sans-serif;
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
    text-transform: capitalize; 
   transition: .2s linear;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top: 9rem;
   scroll-behavior: smoot;
}
.header{
   background: black;
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem 7%;
   border-bottom: var(--border); 
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}
.header .logo img{
   height: 8rem;
   width: 8rem;
}
.header .navbar a{
   font-size: 20px;
   color: white;
   text-decoration: none;
   font-weight: 500;
   margin-right: 30px;
   font-size: 20px;
   text-shadow: -1px 1px 3px white;/*sombra*/
   margin: 0 1 rem;
   font-size: 1.6rem;
   color: white;
}
.navbar a{
   transition: 250ms; 
   border-bottom: 2px solid white;
   opacity: 1;
}
.header .navbar a:hover{
   color:white;
   border-bottom: .1rem solid var(--main-color);
   padding-bottom: .5rem;
   
}                 
@media (max-width:991px){
   html{
      font-size: 55%;
   }
   .header{
      padding: 1.5rem 2rem;
   }
   
   .header .navbar{
      position:absolute;
      top: 100%;
      background: white;
      background: 30rem;  
   }
   .header .navbar a{
      display: block;
      margin: 1.5rem;
      padding: .5rem;
      font-size: 2rem;
   }
}  

            
               